<!--The content below is only a placeholder and can be replaced.-->
<h1>Web Api front side</h1>
<!--<nav class="navbar navbar-light bg-faded">
  <form class="form-inline">
    <button routerLink="products" routerLinkActive="selected" class="btn btn-outline-success" type="button">Products</button>
    <button routerLink="categories" routerLinkActive="selected" class="btn btn-outline-success" type="button">Categories</button>
  </form>
</nav>-->
 <nav>
  <button type="button" routerLink="products" routerLinkActive="selected" class="btn btn-info btn-sm-4">Products</button>
  <button type="button" routerLink="categories" routerLinkActive="selected" class="btn btn-secondary btn-sm-4">Categories</button>
</nav>
<router-outlet></router-outlet>
