/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

nav a{
  text-decoration: none;
  display: inline-block;
  margin: 3px;
  padding: 10px 25px;
  border: 1px solid crimson;
}

nav a:hover{
  background-color: rgb(255, 94, 0)
}
nav a.selected {
  background-color: rgb(236, 146, 10)
}

button {
  margin: 3px;
  padding: 10px 25px;
}
